streamlit
langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-nvidia-ai-endpoints
chromadb
pypdf
python-dotenv
langchain-huggingface 
huggingface_hub
rank_bm25
flashrank
langchain-mistralai
mistralai